{% extends 'base-layout.njk' %}

{% block main %}

  <div data-grid="is-center">
    <div data-col="8-sm 6-xl">
      <h1>An&shy;sprech&shy;par&shy;tner</h1>
      <p>Wenn ihr Fragen an uns habt, schreibt uns gerne unter <a href="mailto:test@test.com">test@test.com</a> oder ruft uns an. Zur Anmeldung von Programmpunkten wendet euch gerne an unsere Trauzeugen:</p>

      <div data-grid="is-center">
        <div data-col="12 6-lg">
          <div class="well align-center">
            <h4>Anika</h4>
            <div class="avatar avatar_big has-margin-center-auto has-margin-middle"><img src="anika.jpeg" alt=""></div>
            <p><a href="mailto:test@test.com">test@test.com</a></p>
          </div>
        </div>
        <div data-col="12 6-lg">
          <div class="well align-center">
            <h4>Gerhard</h4>
            <div class="avatar avatar_big has-margin-center-auto has-margin-middle"><img src="gerhard.jpg" alt=""></div>
            <p><a href="mailto:test@test.com">test@test.com</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}