{% extends 'base-layout.njk' %}

{% block main %}
  <div data-grid="is-center">
    <div data-col="8-md">
      <img src="hof.jpg" alt="Der Lautenbachhof" class="img_inline-left">
      <h2>Location</h2>
      <p class="lead">Beschreibung der Location</p>
      <p>Mehr Beschreibung</p>

      <h6>Buchen könnt ihr unter:</h6>
      <p>
        <strong>Adresse:</strong> <a href="/anfahrt">Irgendwo</a><br>
        <strong>Tel.:</strong> +49 1234567890<br>
        <strong>E-Mail:</strong> <a
            href="mailto:info@test.com">info@test.com</a><br>
        <strong>Website:</strong> <a href="http://entrecode.de">entrecode.de</a>
      </p>
    </div>
  </div>
{% endblock %}